@import "vivaldi-colors.css";

.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred header,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred footer,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred .panel-group,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred .bookmark-bar,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred .manager-editor,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred .vivaldi-settings,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred .toolbar,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred .mainbar,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred:not(.is-settingspage) #header,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred #switch,
.color-behind-tabs-on:not(.transparent-tabbar)#browser.isblurred.dim-blurred .tabbar-wrapper
{
    --colorTabBar: var(--colorBgIntense) !important;
}

:not(.ui-transparent-tabs).color-behind-tabs-on .tab {
    background-color: var(--colorBgLight) !important;
}

.color-behind-tabs-on #tabs-subcontainer {
    background-color: var(--colorTabBar) !important;
}

#browser .tab.active {
    background-color: var(--colorAccentBgDark) !important;
    color: var(--colorAccentFg) !important;
}