* {
    blur-background: rgba(247, 249, 255, 0.3);
    blur-background5: rgba(247, 249, 255, 0.5);
    blur-background8: rgba(247, 249, 255, 0.8);

    foreground-normal: #444f5a;
    foreground-selected: #4a9acc;


    urgent-normal: #ffaca3;
    urgent-selected: #e12626;
    active-normal: #baba1a;

//


    
    background: #f7f9ff;
    
    error: #ba1a1a;
    
    error-container: #ffdad6;
    
    inverse-on-surface: #eef1f6;
    
    inverse-primary: #95cdf8;
    
    inverse-surface: #2d3135;
    
    on-background: #181c20;
    
    on-error: #ffffff;
    
    on-error-container: #410002;
    
    on-primary: #ffffff;
    
    on-primary-container: #001e2f;
    
    on-primary-fixed: #001e2f;
    
    on-primary-fixed-variant: #004b6f;
    
    on-secondary: #ffffff;
    
    on-secondary-container: #0c1d29;
    
    on-secondary-fixed: #0c1d29;
    
    on-secondary-fixed-variant: #384956;
    
    on-surface: #181c20;
    
    on-surface-variant: #41474d;
    
    on-tertiary: #ffffff;
    
    on-tertiary-container: #201634;
    
    on-tertiary-fixed: #201634;
    
    on-tertiary-fixed-variant: #4c4162;
    
    outline: #72787e;
    
    outline-variant: #c1c7ce;
    
    primary: #276389;
    
    primary-container: #cae6ff;
    
    primary-fixed: #cae6ff;
    
    primary-fixed-dim: #95cdf8;
    
    scrim: #000000;
    
    secondary: #50606e;
    
    secondary-container: #d3e5f5;
    
    secondary-fixed: #d3e5f5;
    
    secondary-fixed-dim: #b7c9d9;
    
    shadow: #000000;
    
    source-color: #344a5b;
    
    surface: #f7f9ff;
    
    surface-bright: #f7f9ff;
    
    surface-container: #ebeef3;
    
    surface-container-high: #e5e8ed;
    
    surface-container-highest: #e0e3e8;
    
    surface-container-low: #f1f4f9;
    
    surface-container-lowest: #ffffff;
    
    surface-dim: #d7dadf;
    
    surface-tint: #276389;
    
    surface-variant: #dde3ea;
    
    tertiary: #64597b;
    
    tertiary-container: #eaddff;
    
    tertiary-fixed: #eaddff;
    
    tertiary-fixed-dim: #cfc0e8;
    
}