* {
    blur-background: rgba(248, 251, 240, 0.3);
    blur-background5: rgba(248, 251, 240, 0.5);
    blur-background8: rgba(248, 251, 240, 0.8);

    foreground-normal: #4a5644;
    foreground-selected: #6caa59;


    urgent-normal: #ffaca3;
    urgent-selected: #e12626;
    active-normal: #baba1a;

//


    
    background: #f8fbf0;
    
    error: #ba1a1a;
    
    error-container: #ffdad6;
    
    inverse-on-surface: #eff2e8;
    
    inverse-primary: #a6d394;
    
    inverse-surface: #2e322b;
    
    on-background: #191d17;
    
    on-error: #ffffff;
    
    on-error-container: #410002;
    
    on-primary: #ffffff;
    
    on-primary-container: #022100;
    
    on-primary-fixed: #022100;
    
    on-primary-fixed-variant: #2a4f1f;
    
    on-secondary: #ffffff;
    
    on-secondary-container: #121f0e;
    
    on-secondary-fixed: #121f0e;
    
    on-secondary-fixed-variant: #3d4b37;
    
    on-surface: #191d17;
    
    on-surface-variant: #43483f;
    
    on-tertiary: #ffffff;
    
    on-tertiary-container: #002021;
    
    on-tertiary-fixed: #002021;
    
    on-tertiary-fixed-variant: #1e4e50;
    
    outline: #73796e;
    
    outline-variant: #c3c8bc;
    
    primary: #416835;
    
    primary-container: #c1efaf;
    
    primary-fixed: #c1efaf;
    
    primary-fixed-dim: #a6d394;
    
    scrim: #000000;
    
    secondary: #54634d;
    
    secondary-container: #d7e8cc;
    
    secondary-fixed: #d7e8cc;
    
    secondary-fixed-dim: #bbcbb1;
    
    shadow: #000000;
    
    source-color: #568248;
    
    surface: #f8fbf0;
    
    surface-bright: #f8fbf0;
    
    surface-container: #ecefe5;
    
    surface-container-high: #e6e9df;
    
    surface-container-highest: #e1e4da;
    
    surface-container-low: #f2f5eb;
    
    surface-container-lowest: #ffffff;
    
    surface-dim: #d8dbd1;
    
    surface-tint: #416835;
    
    surface-variant: #dfe4d7;
    
    tertiary: #386668;
    
    tertiary-container: #bcebee;
    
    tertiary-fixed: #bcebee;
    
    tertiary-fixed-dim: #a0cfd1;
    
}