* {
    blur-background: {{ colors.background.default.rgba | set_alpha: 0.3 }};
    blur-background5: {{ colors.background.default.rgba | set_alpha: 0.5 }};
    blur-background8: {{ colors.background.default.rgba | set_alpha: 0.8 }};

    foreground-normal: {{ colors.on_background.default.hex | auto_lightness: 20.0 }};
    foreground-selected: {{ colors.primary.default.hex | auto_lightness: 20.0 }};

<* if mode | replace: "Dark", "" *>
    urgent-normal: {{ colors.error_container.default.hex | auto_lightness: 10.0 }};
    urgent-selected: {{ colors.error.default.hex | auto_lightness: 10.0 }};
    active-normal: {{ colors.error.default.hex | set_hue: 60.0 }};
<* endif *>
//
<* if mode | replace: "Light", "" *>
    urgent-normal: {{ colors.error.default.hex | auto_lightness: 10.0 }};
    urgent-selected: {{ colors.error_container.default.hex | auto_lightness: 30.0 }};
    active-normal: {{ colors.error_container.default.hex | set_hue: 60.0 }};
<* endif *>

    <* for name, value in colors *>
    {{ name | replace: "_", "-" }}: {{ value.default.hex }};
    <* endfor *>
}